{% extends 'base.html' %}

{% block content %}

<style>
    th, td{
        text-align: center;
        width: 25%;
    }
</style>

<div class="container my-5">
    <h1 style="text-align: center;">Daftar Favorit</h1>
    <div class="tab-pane fade show active">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Judul</th>
                <th scope="col">Waktu ditambahkan</th>
                <th scope="col">Aksi</th>
            </tr>
            </thead>
        
            <tbody>
            <tr>
                <td scope="col">Spirited Away</td>
                <td scope="col">01/01/2024 12:30:00</td>
                <td scope="col"><button class="btn btn-danger" onclick="">Delete</button></td>
            </tr>

            <tr>
                <td scope="col">Oppenheimer</td>
                <td scope="col">01/02/2024 05:10:11</td>
                <td scope="col"><button class="btn btn-danger" onclick="">Delete</button></td>
            </tr>

            <tr>
                <td scope="col">Young Sheldon</td>
                <td scope="col">02/04/2024 01:33:11</td>
                <td scope="col"><button class="btn btn-danger" onclick="">Delete</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}