{% extends 'base.html' %}

{% block content %}

<style>
    th, td{
        text-align: center;
        width: 25%;
    }
</style>

<div class="container my-5">
    <h1 style="text-align: center;">Daftar Favorit</h1>
    <div class="tab-pane fade show active" id="daftarfavorit-table- container">
        <table class="table table-hover" id="daftarfavorit-table"></table>
    </div>
</div>

<script>
    async function getDaftarFavorit() {
        return fetch("{% url 'daftarfavorit:show_all_users_daftar_favorit' %}").then((res) => res.json())
    }
    
    async function refreshDaftarFavorit() {
        document.getElementById("daftarfavorit-table").innerHTML = ""
        const fetcheddaftarfavorits = await getDaftarFavorit();
        const daftarfavorits = fetcheddaftarfavorits['daftar_favorit']
        let htmlString = ''

        if(daftarfavorits.length === 0){
            htmlString = `<p align="center"> Anda belum memiliki daftar favorit </p>`
        }
        else{
            htmlString = `<table class="table">
            <thead>
                <tr>
                    <th scope="col">Judul</th>
                    <th scope="col">Waktu ditambahkan</th>
                    <th scope="col">Aksi</th>
                </tr>
                </thead>`
            daftarfavorits.forEach((item) => {
                htmlString += `\n<tr>
                    <td>${item.judul}</td>
                    <td>${item.timestamp.replaceAll("T", ", ")}</td>
                    <td>
                        <center>
                            <form action="{% url 'daftarfavorit:delete' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="timestamp" value="${item.timestamp}">
                                <input type="hidden" name="username" value="${item.username}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </center>
                    </td>
                    </tr>`
                })
            htmlString += `</table>`
        }
                
        document.getElementById("daftarfavorit-table").innerHTML = htmlString
    }
            
    refreshDaftarFavorit()
</script>

{% endblock content %}