{% extends 'base.html' %}


{% block title %}PacilFlix - Kelola Langganan{% endblock %}

{% block content %}
<style>
    /* Custom styles for the trailer page */
    .tab-content {
      margin-top: 20px;
    }
    .table-hover tbody tr:hover {
      background-color: #f5f5f5;
    }
    a {
      text-decoration: none;
      color: #007bff;
    }
    a:hover {
      text-decoration: underline;
    }
    th, td{
        text-align: center;
        width: 25%;
    }
</style>

<div class="container my-5">
    <h1 style="text-align: center;">Paket Langganan Aktif Anda</h1>
    <div class="tab-pane fade show active">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Harga</th>
                    <th scope="col">Resolusi Layar</th>
                    <th scope="col">Dukungan Perangkat</th>
                    <th scope="col">Tanggal Dimulai</th>
                    <th scope="col">Tanggal Akhir</th>
                </tr>
            </thead>
        
            <tbody>
                <tr>
                    <td scope="col">Premium</td>
                    <td scope="col">Harga</td>
                    <td scope="col">4K</td>
                    <td scope="col">Device</td>
                    <td scope="col">02/05/2024 15:00:00</td>
                    <td scope="col">02/06/2024 15:00:00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container my-5">
    <h1 style="text-align: center;">Pilih Paket Lain</h1>
    <div class="tab-pane fade show active">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Harga</th>
                    <th scope="col">Resolusi Layar</th>
                    <th scope="col">Dukungan Perangkat</th>
                    <th scope="col">Beli</th>
                </tr>
            </thead>
        
            <tbody>
                <tr>
                    <td scope="col">Premium</td>
                    <td scope="col">Harga</td>
                    <td scope="col">4K</td>
                    <td scope="col">Device</td>
                    <td scope="col"><button class="btn btn-danger" onclick="window.location.href='/langganan/premium'">Beli</button></td>
                </tr>

                <tr>
                    <td scope="col">Standard</td>
                    <td scope="col">Harga</td>
                    <td scope="col">2K</td>
                    <td scope="col">Device</td>
                    <td scope="col"><button class="btn btn-danger" onclick="window.location.href='/langganan/standard'">Beli</button></td>
                </tr>

                <tr>
                    <td scope="col">Basic</td>
                    <td scope="col">Harga</td>
                    <td scope="col">1080p</td>
                    <td scope="col">Device</td>
                    <td scope="col"><button class="btn btn-danger" onclick="window.location.href='/langganan/basic'">Beli</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container my-5">
    <h1 style="text-align: center;">Riwayat Transaksi</h1>
    <div class="tab-pane fade show active">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Tanggal Dimulai</th>
                    <th scope="col">Tanggal Akhir</th>
                    <th scope="col">Metode Pembayaran</th>
                    <th scope="col">Tanggal Pembayaran</th>
                    <th scope="col">Total Pembayaran</th>
                </tr>
            </thead>
        
            <tbody>
                {% for i in range %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td scope="col">Paket {{ forloop.counter }}</td>
                    <td scope="col">Tanggal Dimulai {{ forloop.counter }}</td>
                    <td scope="col">Tanggal Akhir {{ forloop.counter }}</td>
                    <td scope="col">Metode {{ forloop.counter }}</td>
                    <td scope="col">Tanggal Bayar {{ forloop.counter }}</td>
                    <td scope="col">Total Bayar {{ forloop.counter }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}