{% extends 'base.html' %}

{% block title %}Episode Details{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 style="text-align: center;">Halaman Episode</h2>
    <br>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Judul: <span id="episodeTitle">{{ series_name }}</span></h3>
            <h5>Sub Judul: <span id="episodeSubTitle">{{ episode.sub_judul }}</span></h5>

            <br>
            <form method="POST" action="{% url 'tayangan:watch_episode' id_series=episode.id_series sub_judul=episode.sub_judul %}" id="watchForm">
                {% csrf_token %}
                <label for="progress">Progress:</label>
                <input type="range" id="progress" name="progress" min="0" max="100" value="0" oninput="updateProgressValue()">
                <span id="progressValue">0%</span>
                <br><br><br>
                <input type="hidden" id="startDateTime" name="startDateTime">
                <input type="hidden" id="startPercent" name="startPercent">
                <input type="hidden" id="endPercent" name="endPercent">
                {% if is_released %}
                    <button type="button" id="watchButton" class="btn btn-primary">Tonton</button>
                {% endif %}
            </form>
            <br>
            <h4>Episode Lainnya:</h4>
            <ul>
                {% for ep in episodes %}
                        <li><a href="{% url 'tayangan:show_episode_details' id_series=ep.id_series sub_judul=ep.sub_judul %}">Episode {{ ep.listing_order }}</a></li> 
                {% endfor %}
            </ul>

            <p><strong>Sinopsis Episode:</strong> <span id="synopsis">{{ episode.sinopsis }}</span></p>
            <p><strong>Durasi Episode:</strong> <span id="duration">{{ episode.durasi }} minutes</span></p>
            <p><strong>URL Episode:</strong> <a href="{{ episode.url_video }}" id="episodeUrl">Watch Here</a></p>
            <p><strong>Tanggal Rilis Episode:</strong> <span id="releaseDate">{{ episode.release_date }}</span></p>
        </div>
    </div>
</div>

<style>
    input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 5px;
        background: linear-gradient(90deg, rgba(62,126,255,1) 0%, rgba(62,126,255,1) var(--progress-percent), rgba(214,214,214,1) var(--progress-percent), rgba(214,214,214,1) 100%);
        outline: none;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #3E7EFF;
        cursor: pointer;
    }

    input[type="range"]::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #3E7EFF;
        cursor: pointer;
    }
</style>

<script>
    let watching = false;
    let startSliderPosition = 0;
    let startTime = null;

    function updateProgressValue() {
        var progress = document.getElementById('progress');
        var progressValue = document.getElementById('progressValue');
        var value = progress.value;
        progressValue.innerText = value + '%';
        progress.style.setProperty('--progress-percent', value + '%');
    }

    document.getElementById('watchButton').addEventListener('click', function() {
    const slider = document.getElementById('progress');
    const watchForm = document.getElementById('watchForm');
    startSliderPosition = 0;
    endSliderPosition = 0;

    if (!watching) {
        // Start watching
        this.innerText = 'Berhenti Menonton';
        startSliderPosition = slider.value;

        let date = new Date();
        let formattedString = date.toISOString().slice(0, 19).replace('T', ' ');

        document.getElementById('startDateTime').value = formattedString;  // Store start time

        document.getElementById('startPercent').value = startSliderPosition;  // Store start slider position

        watching = !watching;
    } else {
        // Stop watching
        this.innerText = 'Tonton';
        endSliderPosition = slider.value;
        document.getElementById('endPercent').value = endSliderPosition;  // Store end slider position
        console.log(document.getElementById('startPercent').value)

        // Add start, end, and id_tayangan to the form data
        const formData = new FormData(watchForm);
        formData.set('endPercent', endSliderPosition);

        console.log('Form action:', watchForm.action);  // Log the form action
        console.log('Form data:', Array.from(formData.entries()));  // Log the form data

        // Submit the form asynchronously
        fetch(watchForm.action, {
            method: 'POST',
            body: formData
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        }).then(data => {
            console.log(data);
        }).catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
        });

        // Reset
        startTime = null;
        watching = !watching;
        startSliderPosition = 0;
        endSliderPosition = 0;
    }
});

    window.onload = updateProgressValue;
</script>
{% endblock %}